/* ########## GLOBAL ########## */

*{
    font-family: 'Kanit', sans-serif;
}

#body{
    background-color: #F4F5F7;
    position: relative;
    min-height: 100vh;
}

#main-container{
    background-color: #F4F5F7;
    padding: 0;
    padding-bottom: 3.5rem;
}

#more-adverts-link{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}


/* ########## LOGIN/REGISTER ########## */

#register_card{
    width: 40%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#login_card{
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

#login_register_card label{
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0;
}

#login-form-title{
    margin-top: 5%;
    margin-bottom: 5%;
}

#login-form-input input[type=text]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
}

#login-form-input input[type=password]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

#login-form-input input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}


/* ########## SEARCHES ########## */

#searchbar-div{
    background: url("/static/website/images/search-panel-background.jpeg") no-repeat fixed center;
    width: 100%;
    height: 890px;
    margin-bottom: 3%;
    position: relative;
}

#searchbar{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    width: 60%;
    left: 20%;
    top: 10%;
    position: absolute;
    border-radius: 10px;
}

/* SEARCHBAR ROWS */

#searchbar-row{
    width: 100%;
    margin-top: 3%;
}

#searchbar-row-title{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

#serchbar-row-city{
    width: 100%;
    margin-top: 3%;
}

#searchbar-row-button{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchbar-delimiter{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* SEARCHBAR INPUTS/SELECTS */

#searchbar-input{
    display: block;
    margin: 0 auto;
    text-align: center;
}

#searchbar-input-city{
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#searchbar-select{
    display: block;
    margin: 0 auto;
}

/* SEARCHBAR BUTTONS */
#searchbar-button-search{
    width: 25%;
    display: block;
    margin: 0 auto;
}



/* ########## ADVERTS ########## */

/* ADVERT INLINE */

#advert-inline{
    color:black;
}

#advert-inline:hover{
    text-decoration: none;
}

#advert-inline-title{
    width: 50%;
    float: left;
    color: #007bff;
    margin-top: 10%;
}

#advert-inline-image{
    width: 50%;
    float: left;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 20px;
}

/* ADVERT DETAIL */

#advert-detail{
    padding-top: 4%;
    padding-bottom: 4%;
}

#advert-detail-title{
    color: #007bff;
    display: inline-block;
}

#advert-detail-price{
    float: right;
    margin-right: 5%;
}

.advert-detail-header{
    width: 32%;
    display: inline-block;
    text-align: center;
}

.advert-detail-location{
    width: 45%;
    display: inline-block;
    text-align: center;
}

.advert-detail-contact{
    width: 100%;
    display: inline-block;
    text-align: center;
}

#advert-detail-company-image{
    width: 30%;
    display: inline-block;
    margin: 0 2% 0 2%;
}

#google-maps-frame{
    width: 100%;
    margin-top: 2%;
}



/* ########## ACCOUNTS ########## */

/* ACCOUNT DIVS */

#account-info-card{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#account-info-body{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#account-info-div-data{
    width: 60%;
    margin-top: 2%;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

#account-info-div-image{
    width: 20%;
    margin-top: 2%;
    display: inline-block;
}

#account-info-data{
    width: 50%;
    margin: auto;
}



/* ########## COMPANIES ########## */
#company-info-div-image{
    width: 30%;
    margin: 2% 0 2% 0;

}



/* ########## BOOTSTRAP OVERRIDED ########## */

.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
  }