<!doctype html>
{% load static %}
<html lang="pl">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock  %} | Relokator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    {% include 'website/js.html' %}
    <!-- Google Font -->    
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <!-- Icon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}"/>
  </head>

  <body id="body">

    <!-- Navbar -->
    {% include 'website/navbar.html' %}

    <!-- Page content -->
    <div id="main-container" class = 'container-fluid'>
      {% block content %}{% endblock  %}
    </div>

    <!-- Footer -->
    {% include 'website/footer.html' %}

  </body>

</html>