{% extends 'website/base.html' %}

{% block title %}Home{% endblock  %}

{% block content %}
    
    <!-- Search bar -->
    <div class="searchbar-div">
            {% include 'website/searchbar.html' %}
        </div>
    </div>

    <!-- Adverts -->
    <h2 style="padding-left:1%">Najnowsze ogłoszenia</h2>
    <div style="margin:auto" class='row'>
        {% for object in qs %}
            {% include 'adverts/adverts-inline.html' with advert=object truncate=True detail=False%}
        {% endfor %}
    </div>
    
{% endblock  %}