{% extends "website/base.html" %}

{% block title %}Home{% endblock  %}

{% block content %}
    
    <!-- Search bar -->
    <div id="searchbar-div">
        {% include "website/searchbar.html" %}
    </div>

    <!-- Adverts -->
    <h2 style="padding-left:1%"><b>Najnowsze ogłoszenia</b></h2>

    <hr>

    <div style="margin:auto" class="row">
        {% for object in qs %}
            {% include "adverts/adverts-inline.html" with advert=object truncate=True detail=False settings=False %}
        {% endfor %}
    </div>

    <!-- More adverts button -->
    <a href="/adverts"><div id="more-adverts-link">Więcej ogłoszeń</div></a>
    
{% endblock  %}