<div class="searchbar">
  <form class="form-inline my-2 my-lg-0" action='/search/'>

    {# text search input #}
    <input id="serchbar-main-input" class="form-control mr-sm-2" type="search" name='q' placeholder="Podaj miejscowość" aria-label="Search">

    <div clas="row" style="width:100%">
      {# Advert.category #}
      <div class="form-row" style="width:100%">    
        <div class="form-group col-md-4">
          <label for="category">Kategoria</label>
          <select name='category' id="category">
            <option selected value>Wszystkie</option>
            <option value="Dom">Dom</option>
            <option value="Mieszkanie">Mieszkanie</option>
            <option value="Pokój">Pokój</option>
          </select>
        </div>
        {# Adver.advert_type #}
        <div class="form-group col-md-4">
          <label for="advert_type">Typ</label>
          <select name='advert_type' id="advert_type">
            <option selected value>Wszystkie</option>
            <option value="Wynajem">Wynajem</option>
            <option value="Sprzedaż">Sprzedaż</option>
          </select>
        </div>
        {# Advert.furnished #}
        <div class="form-group col-md-4">
          <label for="furnished">Umeblowanie</label>
          <select name='furnished' id="furnished">
            <option selected value>Wszystkie</option>
            <option value="Tak">Tak</option>
            <option value="Nie">Nie</option>
          </select>
        </div>
      </div>
    
    <div class="form-row" style="width:100%">
      <div class="form-group col-md-6">
        <label for="price_min">Cena minimalna</label>
        <input type="text" class="form-control" id="price_min" name='price_min'>
      </div>
      <div class="form-group col-md-6">
        <label for="price_max">Cena maksymalna</label>
        <input type="text" class="form-control" id="price_max" name='price_max'>
      </div>
    </div>

    {# search button #}
    <button id="searchbar-search-button" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Szukaj</button>

  </form>
</div>