{% extends 'website/base.html' %}

{% block title %}Logowanie{% endblock%}

{% block content %}

  <div id="login_card" class="card text-center">

    <div class="card-body" style="padding-bottom:5%">

      {% if request.user.is_authenticated%}

        <h2><b>Już jesteś zalogowany!</b></h2>
        <a class='btn btn-info' href="/">Wróć do strony głównej</a>

      {% else %}

        <h2 id="login-form-title">Logowanie</h2>

        <form method="POST">

          {% csrf_token %}

          {{ form.non_field_errors }}
          
          <div class="form-group">
            <div class="fieldWrapper">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Login:</label>
                <div id="login-form-input">{{ form.username }}</div>
            </div>
          </div>

          <div class="form-group">
            <div class="fieldWrapper">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Hasło:</label>
                <div id="login-form-input">{{ form.password }}</div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Zaloguj się</button>
          
        </form>

      {% endif %}

    </div>

  </div>

{% endblock  %}
