{% extends 'website/base.html' %}

{% block title %}{{username}}{% endblock  %}

{% block content %}
    
    <div class="card text-left" style="margin:5%;">

        <div class="card-header">

            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="info">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="adverts">Ogłoszenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Ustawienia</a>
                </li>
            </ul>

        </div>
        
        <div class="card-body">
        
            <div class='row'>
                {% for object in object_list %}
                    {% include 'adverts/adverts-inline.html' with advert=object truncate=True detail=False%}
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock  %}