{% extends 'website/base.html' %}

{% block title %}{{username}}{% endblock  %}

{% block content %}
    
    <div class="card text-center" style="margin:5%;">

        <div class="card-header">
            
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="info">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="adverts">Ogłoszenia</a>
                </li>
                {% if request.user.username == username %}
                    <li class="nav-item">
                        <a class="nav-link" href="settings">Ustawienia</a>
                    </li>
                {% endif %}
            </ul>
            
        </div>

        <div id="account-info-body" class="card-body">

            <h2>Profil użytkownika {{user.username}}</h2>

            <hr>

            <div id="account-info-div-data">
                <div id="account-info-data">
                    <h5><span class="far fa-user"></span>&#9; {{user.first_name}} {{user.last_name}}</h5>
                    <h5><span class="far fa-envelope"></span>&#9; {{user.email}}</h5>
                    <h5><span class="fas fa-phone"></span>&#9; +48 {{user.phone_number}}</h5>
                    <h5><span class="far fa-calendar-alt"></span>&#9; {{user.join_date}}</h5>
                </div>
            </div>

            <div id="account-info-div-image">
                {% if user.profile_image %}
                    <img src="{{user.profile_image.url}}" width="100%" height="auto">
                {% endif %}
            </div>

        </div>

    </div>

{% endblock  %}