{% extends 'website/base.html' %}

{% block title %}{{title}}{% endblock  %}

{% block content %}
    
    <div id="account-info-card" class="card text-center">

        <div class="card-header">

            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="info">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="adverts">Ogłoszenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="companies">Firma</a>
                </li>
                {% if request.user.username == username %}
                    <li class="nav-item">
                        <a class="nav-link" href="settings">Ustawienia</a>
                    </li>
                {% endif %}
            </ul>

        </div>
        
        <div class="card-body" style="margin-top:2%">
        
            <h2 class="text-center">Ogłoszenia użytkownika <b>{{username}}</b></h1>

            <hr>

            <div class='row'>
                {% for object in object_list %}
                    {% include 'adverts/adverts-inline.html' with advert=object truncate=True detail=False settings=True%}
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock  %}