{% extends 'website/base.html' %}

{% block title %}Rejestracja{% endblock  %}

{% block content %}

<div class="card text-center" style="margin: 5%">

  <div class="card-body">

    {% if request.user.is_authenticated%}

      <div class="card">
        <div class="card-header"><h2><b>Już jesteś zarejestrowany!</b></h2></div>
        <a class='btn btn-info' href="/">Wróć do strony głównej</a>
      </div>

    {% else %}

      <h2>Rejestracja</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Zarejestruj się</button>
        </form>

    {% endif %}

  </div>

</div>

{% endblock  %}