{% extends 'website/base.html' %}

{% block title %}Rejestracja{% endblock  %}

{% block content %}

<div id="login_register_card" class="card text-center">

  <div class="card-body">

    {% if request.user.is_authenticated%}

      <h2><b>Już jesteś zarejestrowany!</b></h2>
      <a class='btn btn-info' href="/">Wróć do strony głównej</a>

    {% else %}

      <h2>Rejestracja</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          
          {{ form.as_p }}

          <button class="btn btn-primary" type="submit">Zarejestruj się</button>
        </form>

    {% endif %}

  </div>

</div>

{% endblock  %}