{% extends 'website/base.html' %}

{% block title %}Ustawienia konta{% endblock  %}

{% block content %}

  <div class="card text-center" style="margin: 5%">

    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="info">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adverts">Ogłoszenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="companies">Firmy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Ustawienia</a>
            </li>
        </ul>
        
    </div>

    <div class="card-body" style="margin-top:2%">

        <h2 class="text-center">Ustawienia profilu<b>{{username}}</b></h1>

        <hr>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
        </form>

    </div>

  </div>

{% endblock  %}