{% extends 'website/base.html' %}

{% block title %}Dodawanie ogłoszenia{% endblock  %}

{% block content %}

    <div class="card" style="margin:5%;">

        <div class="card-body">

            <center>
            <form method="POST" action="" enctype="multipart/form-data" style="margin-top:2%;">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary"type="submit" href="{% url 'login' %}">Dodaj ogłoszenie</button>
            </form>
            </center>

        </div>
        
    </div>

{% endblock  %}