{% extends "website/base.html" %}

{% block title %}Wszystkie ogłoszenia{% endblock  %}

{% block content %}
    
    <div class="card" style="margin:5%;">

        <div class="card-body">

            <h2 style="padding-left:2%"><b>Wszystkie ogłoszenia</b></h2>

            <hr>
            
            <div style="margin:auto" class="row">
                {% for object in adverts %}
                    {% include "adverts/adverts-inline.html" with advert=object %}
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock  %}