<div class = 'col-12 col-md-6 mx-auto mb-2 mt-2'>

    <div class = 'card'>

        <a id="advert-inline" href="/adverts/{{advert.id}}">
            <div class = 'card-body'>

                <!-- Title -->
                <div id="advert-inline-title"><h5 class="card-title">{{advert.title}}</h5></div>

                <!-- City -->
                <div id="advert-inline-city"><h5 class="card-text">{{advert.city}}</h5></div>

                <!-- Image -->
                {% if advert.image %}
                    <div id="advert-inline-image"><img src="{{advert.image.url}}" width="60%" height="300", align="right"></div>
                {% endif %}

            </div>
        </a>

    </div>

</div>