{% extends "website/base.html" %}

{% block title %}{{advert.title}}{% endblock  %}

{% block content %}

    <div id="advert-detail" class = "col-12 col-md-6 mx-auto mb-2 mt-">

        <div class = "card">

            <div class = "card-body">

                {# Tytuł i cena #}        
                <h3 id="advert-detail-title" class="card-title">{{advert.title}}</h3>
                {% if advert.advert_type == "Wynajem" %}
                    <h4 id="advert-detail-price"><b>{{advert.price}} PLN/miesięcznie</b></h6>
                {% else %}
                    <h4 id="advert-detail-price"><b>{{advert.price}} PLN</b></h6>
                {% endif %}

                <hr>

                {# Podstawowe informacje #}
                <div class="advert-detail-header"><h6>Nieruchomość: <b>{{advert.category}}</b></h6></div>
                <div class="advert-detail-header"><h6>Rodzaj umowy: <b>{{advert.advert_type}}</b></h6></div>
                <div class="advert-detail-header">
                {% if advert.furnished %}
                    <h6>Umeblowanie: <b>Tak</b></h6>
                {% else %}
                    <h6>Umeblowanie: <b>Nie</b></h6>
                {% endif %}
                </div>

                <hr>

                {#  Opis #}
                <h4 class="card-subtitle mb-2 text-bold">Opis</h4>
                <p class = "card-text">{{advert.content}}</p>

                <hr>

                {# Zdjęcia #}
                <h4 class="card-subtitle mb-2 text-bold">Zdjęcia</h4>
                {% if advert.image %}
                    <img src="{{advert.image.url}}" id="advert-detail-photo" class="card-img-top">
                {% endif %}

                <hr>

                {# Lokalizacja #}
                <h4 class="card-subtitle mb-3 text-bold">Lokalizacja</h4>
                <div class="advert-detail-location"><h6>Miasto: <b>{{advert.city}}</b></h6></div>                
                <div class="advert-detail-location"><h6>Adres: <b>{{advert.address}}</b></h6></div>                
                {# Google Maps #}
                <div id="google-maps-frame"><iframe src="{{advert.map_url}}" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>

                <hr>

                {# Firmy przeprowadzkowe #}
                {% if companies %}

                    <div>
                    <h4 class="card-subtitle mb-3 text-bold">Firmy przeprowadzkowe</h4>
                    {% for company in companies %}
                        <a href="/companies/{{company.id}}">
                        <div id="advert-detail-company-image">
                            <img src="{{company.logo.url}}" class="card-img-top">
                        </div>
                        </a>
                    {% endfor %}
                    </div>

                <hr>

                {% endif %}

                {# Metadane, data wystawienia i autor #}                
                <div class="advert-detail-location"><small>Wystawiono: <b>{{advert.create_date}}</b></small></div>
                <div class="advert-detail-location"><small>Autor: <a href="/accounts/{{advert.user}}/info">{{advert.user}}</a></small></div>

                <hr>

                {# Zarządzanie ogłoszeniem #}
                {% if request.user == advert.user %}
                    <div class="advert-detail-location"><a class="btn btn-info" href="{{advert.get_update_url}}">Edytuj</a></div>
                    <div class="advert-detail-location"><a class="btn btn-danger" href="{{advert.get_delete_url}}">Usuń</a></div>
                {% else %}
                    <div class="advert-detail-contact"><a class="btn btn-info" href="">Skontaktuj się</a></div>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock  %}