{% extends 'base.html' %}

{% block title %}Home{% endblock  %}

{% block content %}

    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
    
    <!-- Search bar -->
    {% include 'search.html' %}

    <hr>

    <!-- Adverts -->    
    <div class='row'>
        {% for object in qs %}
            {% include 'adverts/adverts-inline.html' with advert=object truncate=True detail=False%}
        {% endfor %}
    </div>
    
{% endblock  %}