<div class = "col-12 col-md-6 mx-auto mb-2 mt-2">

    <div class = "card">

        <a id="advert-inline" href="{{company.get_absolute_url}}">        
            <div class = "card-body">

                <div id="advert-inline-title">
                    <!-- Title -->
                    <h4 class="card-title text-center" style=>{{company.name}}</h4>
                    <!-- Location -->
                    <h5 class="card-text text-center text-dark">{{company.location}}</h5>
                </div>

                {# Logo #}
                {% if company.logo %}
                    <div id="company-inline-image"><img src="{{company.logo.url}}" height="300", align="right"></div>
                {% endif %}

            </div>
        </a>

    </div>

</div>